
.top-left{
    border-top: none;
    border-left: none;
}

.top-right{
    border-top: none;
    border-right: none;
}

.bottom-left{
    border-bottom: none;
    border-left: none;
}

.bottom-right{
    border-bottom: none;
    border-right: none;
}

.top{
    border-top: none;
}

.right{
    border-right: none;
}

.bottom{
    border-bottom: none;
}

.left{
    border-left: none;
}

.player_x{
    color: var(--x-Pawn-color);
}

.player_o{
    color: var(--o-Pawn-color);
}

[span-pawn]{
    font-family: var(--Pawn-font);
}